html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-color:white;
  vertical-align: baseline;
  
}
	
input[type="radio"] {
    margin-left:40px;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
  line-height: 1;
  background-image:url(1.jpeg);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font-family: "Times New Roman", Times, serif;
  
   /*color: rgba(0,0,0,0.5); */
  }



.container {
  margin: 10 px auto;
  width: 620px;
}
/*input[type="radio"] {
  margin-right:20px;
}*/
label {
  margin-left: 5 px;
  
}

.login {

  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 350px;
  /* background: white; */
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 400px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3); 
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  /* background: rgba(0, 0, 0, 0.08); */
  border-radius: 4px;
}
.login h1 {
  margin: -15px -15px 15px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;

  color: white;  
  text-align: center;
  /*text-shadow: 0 1px white;*/
  /* background: white; */
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  /* background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5); */
  /* background-image: -moz-linear-gradient(top, whiteffd, #eef2f5); */
  /* background-image: -o-linear-gradient(top, whiteffd, #eef2f5); */
  /* background-image: linear-gradient(to bottom, whiteffd, #eef2f5); */
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
  margin-left: 20px;
  
}
.login p.remember_me {
  float: left;
  line-height: 31px;
  color:white;
}
.login p.remember_me label {
  font-size: 12px;
  /* color: #777; */
  cursor: pointer;
  margin:0 60 0px;
}
.login p.remember_me input {
  color: white;
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  /* text-shadow: 0 1px #2a85a1; */
}
.login-help a {
  color: white;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
   border-color: #c4c4c4 #d1d1d1 #d4d4d4; 
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  margin:0 120 0px;
  padding: 0 30px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
 

 background:#7a7782;
 

 border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
/* .image1
{
	background-color: blue;
    background-repeat: no-repeat;
    background-position: center;
  
  background-size: cover;
    width: 100%;
 
   height: 100%;
} */
body {
 margin: 0;
 filter:blur;

 background-image: url(1.jpeg);
 background-size: 1440px 800px;

 background-repeat:no-repeat;
 display: compact;
  

font-color:black; 

font: 13px/18px "Gill Sans Extrabold", Helvetica, sans-serif;
 }
 
.top{
 margin=0;
 font: "Gill Sans Extrabold", Helvetica, sans-serif;
 }

.zoom
{
	z-index:1000;
}

/* div {
    opacity:0.50;
    filter: alpha(opacity=1); /* For IE8 and earlier */
   /* -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  
	 box-shadow: 0 0 400px 
	rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);*/

	
} */
legend{
	margin-left:1000px;
}