<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eakarni</display-name>
  <context-param>
    <param-name>driverName</param-name>
    <param-value> com.mysql.jdbc.Driver </param-value>
  </context-param>
  <context-param>
    <param-name>databaseUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/masterdb</param-value>
  </context-param>
  <context-param>
    <param-name>databaseUser</param-name>
    <param-value>eakarni </param-value>
  </context-param>
  <context-param>
    <param-name>databasePassword</param-name>
    <param-value> eakarni </param-value>
  </context-param>
  <context-param>
    <param-name>default.lang</param-name>
    <param-value>gu</param-value>
  </context-param>
</web-app>